.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  background-color: hsl(212, 45%, 89%);
}
p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.card-text {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: hsl(220, 15%, 55%);
}
.card {
  padding: 10px;
  border-radius: 5%;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 20px hsl(220, 15%, 55%);
}
.QR {
  border-radius: 5%;
}
